%h1.table_name
  All users

%table.table
  %tr.table-header
    %td
      Name
    %td
      Lastname
    %td
  - users.each do |user|
    %tr
      %td
        = user.firstname
      %td
        = user.lastname
      %td
        = link_to 'Show', user_path(user.id), class: 'btn btn-default'