@import "bootstrap";
.navbar-default{
  background-color: #9096A5;
}

.navbar-default
  .navbar-brand{
    color: #FBF2DF;
  }

.navbar-default 
.navbar-nav > li > a{
  color: #FBF2DF;
}

.table_name{
  color: #2F416B;
}

.btn-default{
  background-color: #FBF2DF;
  color: #2F416B;
}

.badge{
  background-color: #9096A5;
}